{% extends 'base.html.twig' %}

{% block titlecontent %}Accueil{% endblock %}

{% block titlepage %}
    <li><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
    <li><a href="{{ path('homepage') }}" class="active">Profile</a></li>
{% endblock %}

{% block body %}
    FRFRFR
{% endblock %}

{% block stylesheets %}{% endblock %}
