{% extends 'base.html.twig' %}

{% block titlecontent %}Bienvenu sur votre profile{% endblock %}

{% block titlepage %}
    <li><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
    <li><a href="{{ path('adherent') }}" class="active">adherent</a></li>
{% endblock %}

{% block body %}

{% endblock %}

{% block stylesheets %}{% endblock %}
